/* 
|
| YAML Core
_________________ */
@media print { /** @section basic layout preparation */
  /* Change font size unit to [pt], avoids problems with [px] in Gecko based browsers	*/
  body { font-size: 10pt; padding: 0 5px; }
  nav, .ym-searchform { display: none; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; } }
