@if $ym-base-accessibility == true {
	/**
	* @section Accessibility Module
	*/
	// Skip links, hidden content
	// and classes for invisible elements in the base layout
	.ym-skip, .ym-hideme, .ym-print {
		position:absolute;
		top:-32768px;
		left:-32768px; // LTR
	}
	// Make skip links visible when using tab navigation
	.ym-skip {
		&:focus, &:active {
			position:static;
			top:0;
			left:0;
		}
	}
	// skiplinks:technical setup
	.ym-skiplinks {
		position:absolute;
		top:0px;
		left:-32768px;
		z-index:1000;
		width:100%;
		margin:0;
		padding:0;
		list-style-type:none;
		.ym-skip {
			&:focus, &:active {
				left:32768px;
				outline:0 none;
				position:absolute;
				width:100%;
			}
		}
	}
}
