@if $ym-base-normalization == true {
	/*
	 *  @section Normalisation Module
	 */
	// Global reset of padding and margins for all HTML elements
	* { margin:0; padding:0; }
	// Correcting margin/padding reset (caused too small select boxes)
	option { padding-left:0.4em; } // LTR
	select { padding:1px; }
	// Global fix of the Italics bugs in IE 5.x and IE 6
	//
	// @bugfix
	// @affected   IE 5.x/Win, IE6
	// @css-for    IE 5.x/Win, IE6
	// @valid      yes
	* html body * { overflow:visible; }
	body {
		// Fix for rounding errors when scaling font sizes in older versions of Opera
		font-size:100%;
		// Standard values for colors and text alignment
		background:#fff;
		color:#000;
		text-align:left; // LTR
	}
	// avoid visible outlines on DIV containers in Webkit browsers
	div:target { outline:0 none; }
	// HTML 5 - adjusting visual formatting model to block level
	article, aside, details, figcaption, figure,
	footer, header, hgroup, nav, section { display:block; }
	// HTML5 - default media element styles
	audio, canvas, video { display: inline-block; }
	// HTML5 - don't show <audio> element if there are no controls
	audio:not([controls]) { display: none; }
	// HTML5 - add missing styling in IE & old FF for hidden attribute
	[hidden] { display: none; }
	// force consistent appearance of input[type="search"] elements in all browsers
	input[type="search"] { -webkit-appearance: textfield; }
	input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
	// Clear borders for <fieldset> and <img>
	fieldset, img { border:0 solid; }
	// new standard values
	ul, ol, dl { margin:0 0 1em 1em; } // LTR
	li {
		line-height:1.5em;
		margin-left:0.8em; // LTR
	}
	dt { font-weight:bold; }
	dd { margin:0 0 1em 0.8em; } // LTR
	blockquote { margin:0 0 1em 0.8em; } // LTR
	q { quotes: none; }
	blockquote, q { 
		&:before, &:after { content: ''; content:none }
	}
	table {
		border: {
			collapse: collapse;
			spacing: 0;
		}
	}
}