@if $ym-base-print == true {
	@if $ym-base-grids == true {
	/**
	* @section print adjustments for core modules
	*
	* Float clearing for subtemplates. Uses display:table to avoid bugs in FF & IE
	*/
	// @bugfix
	// @since     3.0
	// @affected  FF2.0, FF3.0, IE7
	// @css-for   all browsers
	// @valid     yes
		.ym-grid {
			> .ym-gl, > .ym-gr {
				overflow:visible;
				display:table;
			}
		}
	}
	// make .ym-print class visible
	.ym-print {
		position:static;
		left:0;
	}
	// generic class to hide elements for print
	.ym-noprint { display:none !important; }
}